<header class="site-header">

  <div class="header-wrapper">

    <div style="text-align:left;">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <span class="header-blog" style="float:right">
      <a class="blog-homepage" href="/blog">blog</a>
    </span>
    <span class="header-blog" style="float:right">
      <a class="blog-homepage" href="/projects">projects&nbsp;&nbsp;</a>
    </span>
    <span class="header-blog" style="float:right">
      <a class="blog-blogpage" href="/bio">bio&nbsp;&nbsp;</a>
    </span>
    </div>

  </div>

</header>
